name: tag push

on:
  push:
    tags:
    - '[0-9]+.[0-9]+.[0-9]+'
    - '[0-9]+.[0-9]+.[0-9]+-beta[0-9]+'

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  Initialize:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      version: ${{ steps.get_info.outputs.version }}
      repo_name: ${{ steps.get_info.outputs.repoNmae }}
      targetSha: ${{ env.targetSha }}
      targetRef: ${{ env.targetRef }}
      preRrelease: ${{ steps.releaseInfo.outputs.preRrelease }}
    steps:
    - name: 拉取代码
      uses: actions/checkout@v5
    - name: 获取信息
      id: get_info
      uses: ./.github/actions/getProjectInfo
    - name: Summary base info
      uses: johngeorgewright/summary-action@v1.0.0
      with:
        summary: |
          # BUILD INFO
          |Tatget ref|Target sha|Release version|Release type|
          |:-:|:-:|:-:|
          | ${{ env.targetRef }}|${{ env.targetSha }}|${{ steps.get_info.outputs.version }}|${{ steps.get_info.outputs.releaseType }}|

  build-plugin:
    name: Build and release plugin
    needs: Initialize
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      java-version: "17"
    steps:
      - name: 拉取代码
        uses: actions/checkout@v5
      - name: Setup java ${{ env.java-version }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.java-version }}
          distribution: 'temurin'
      - name:  Cache local Gradle wrapper and repository
        uses: ./.github/actions/cacheGradle
      - name: Replace info
        run: |
          classPath=Common/src/main/java/cn/stevei5mc/serverhelper/common/BaseInfo.java
          sed -i "s|project.version=*|project.version=${{ needs.Initialize.outputs.version }}|g" ./gradle.properties
          sed -i 's/{git.commit.id}/${{ needs.Initialize.outputs.targetSha }}/g; s/{git.branch}/${{ needs.Initialize.outputs.targetRef }}/g; s/{project.version}/${{ needs.Initialize.outputs.version }}/g' $classPath
      - name:  Build project
        run: |
          chmod 777 gradlew && ls -lah
          echo ">->->---"
          ./gradlew shadowJar javadocJar --no-daemon
      - name: Get artifact hash
        run: bash .github/workflows/scripts/getArtifactHash.sh
      - name: Prepare releases files
        run: bash .github/workflows/scripts/prepareReleasesFiles.sh
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ needs.Initialize.outputs.repo_name }}-Release-${{ needs.Initialize.outputs.version }}
          path: ./staging
      - name: Release to github
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ needs.Initialize.outputs.version }}
          name: ${{ needs.Initialize.outputs.version }}
          token: ${{ env.GH_TOKEN }}
          bodyFile: ./docs/changelogs/${{ needs.Initialize.outputs.version }}.md
          artifacts: ./staging/*.*
          prerelease: ${{ needs.Initialize.outputs.preRrelease }}

  build-Docusaurus:
    name: Build and deploy docusaurus
    needs: [Initialize,build-plugin]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - name: Clone repository
      uses: actions/checkout@v5
    - name: Setup nodejs 18
      uses: actions/setup-node@v5
      with:
        node-version: 18
    - name: 构建
      run: |
        cd Docusaurus
        yarn install --frozen-lockfile
        yarn build
        cd ../
    - name: 上传构建
      uses: actions/upload-pages-artifact@v4
      with:
        path: Docusaurus/build
    - name: Deploy GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4